<%- include('./parts/header.ejs') %>
<%- include('./parts/body2.ejs') %>
<div id="barba-wrapper">
<div class="barba-container">

<div class="container" style="text-align: center;">
    <% if(validationerror3) { %>
        <p class="alert alert-danger"><%= validationerror3.msg %></p>
    <% } %>


    <div class="row productdetails">
        <div class="col-md-6">
            <img class="card-img-top" src="/upload/images/<%= order.img %>" height="500" />
        </div>
        <div class="col-md-6 productdetailsdescription">
            <form action="/order" method="POST">
                <p>name of product : <%= order.name %></p>
                <input type="hidden" name="name" value="<%= order.name %>" />
                <input type="hidden" name="price" value="<%= order.price %>" />
                <input type="hidden" name="amount" value="<%= order.amount %>" />
                <input type="hidden" name="image" value="<%= order.img %>" />
                <input type="hidden" name="productid" value="<%= order.productid %>" />
                <input type="hidden" name="cartid" value="<%= order._id %>" />
                <input type="hidden" name="url" value="/cart/<%= order._id %>" />
                <p>price of product : <%= order.price %> $</p>
                <p>amount : <%= order.amount %></p>
                <p>total price : <%= order.price * order.amount %> $</p>
                <input name="address" placeholder="enter the address" class="form-control" /><br />
                <input type="submit" value="Order" class="buttonform1 btn-large btn-block mt-1">
            </form>
        </div>
    </div>
</div>
</div>
</div>
<%- include('./parts/footer.ejs') %>